footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__footer {
        width: 30rem;
        display: flex;
        justify-content: space-between;

        a {
            color: $color-grey;
        }
    }
    .copyright {
        font-size: 1.5rem;
    }
}