header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

    .logo {
        
        a {
            color: $color-white;
            font-size: 3rem;
            font-weight: 400;
        }
        .fa {
            font-size: 2.5rem;
        }
    }
    .menu {
        width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            color: $color-white;
        }
    }
}