header {
    background-color: $color-blue;

    .nav {
       font-size: 1.5rem; 
       margin: 0 2rem;
       padding: 1rem 0;

       .nav__menu {
          width: 50rem; 
          
          a {
              color: $color-grey;
          }
          a:nth-child(-n+2) {
            color: #fff;
            font-weight: 600;
            margin-left: 1rem;
          }
          .fa-twitter {
            font-size: 3rem;
          }
          a:nth-child(5) {
            border: 1px solid $color-grey;
            padding: .5rem 1rem;
            border-radius: 1.5rem;
          }
          
       }
       .nav_login {
         
            img {
               border-radius: 50%; 
            }         
       }
    }
    .hero {
        height: 30vh;
        position: relative;     
        align-items: flex-end;
        padding: 0 0 3rem;   
        &::after {
            content: '';
            position: absolute;
            right: -30rem;
            top: -4rem;
            background-image: url(../images/twitter-brands.svg);
            width: 50rem;
            height: 50rem;
        }
        .hero__text {
            width: 40%;
            font-size: 2.1rem;
            color: $color-lightBlue;
            span {
                color: $color-white;
            }
        }
        .hero__search {
            position: relative;
            z-index: 10;
            width: 50%;

            input {
                width: 90%;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid rgb(13, 130, 202);
                color: rgb(72, 173, 236);
                font-size: 5rem;

            }
            .fa-search {
                color: rgb(72, 173, 236);
                font-size: 4rem;
                margin-left: -4rem; 
            }
        }
    }
    .slide {
        position: relative;
        z-index: 10;
        background-color: rgb(185, 221, 245);
        padding: 1.5rem;
        text-align: center;
        color: rgb(29, 161, 242);
    }

}