// Colors
$bg-light-yellow: #fffdee;
$bg-yellow: #fae641;
$bg-dark-green: #14232d;
$bg-green-work: #b9ebe1;

//Font family:
$font-openSans: "Open Sans", sans-serif;

//Font size
//1rem = 10px
$font-size-base: 1.8rem; //18px
$font-size-0: 1.2rem; //12px
$font-size-1: 3rem; //30px
$font-size-2: 4rem; //40px

//Font weight:
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

// espaciados
$sp0: 0.5rem; //5px
$sp1: 1rem; //10px
$sp2: 2rem; //20px
$sp3: 2.5rem; //25px
$sp4: 3rem; //30px
$sp5: 4rem; //40px
$sp6: 6rem; //60px
