* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.repo {
  position: fixed;
  top: 0;
  left: 10px;
  z-index: 10;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.repo a > span > i {
  font-size: 30px;
  color: #fff;
  margin-left: 5px;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin: 1rem 0;
}
.btn-cyan {
  display: inline-block;
  text-transform: uppercase;
  background-color: #52A494;
}
.btn-cyan:hover {
  opacity: 0.1;
  border: 1px solid #fff;
}
.btn-black {
  border: none;
  background-color: #000;
  display: block;
  width: 90%;
}
.btn-black:hover {
  background-color: #52A494;
}

input {
  display: block;
  width: 90%;
  margin: 0.2rem 0 0.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  border: 2px solid #BECED0;
}
input:focus {
  border-color: green;
}
input:focus:valid {
  border-color: green;
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='25px' viewBox='5 0 50 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right;
}
input:invalid {
  border-color: red;
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='15px' viewBox='5 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right;
}

input[type=checkbox] {
  display: inline;
  width: auto;
  background-color: grey;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
main .main-left {
  width: 65%;
  height: 100%;
  background-image: url(../images/banner1.jpg);
  background-size: cover;
  position: relative;
}
main .main-left:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
main .main-left .left_info {
  width: 50%;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
main .main-left .left_info h3 {
  text-transform: uppercase;
  font-size: 16px;
}
main .main-left .left_info h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin: 1rem 0 2rem;
}
main .main-left .left_info p {
  line-height: 2rem;
  margin-bottom: 2rem;
}
main .main-right {
  width: 35%;
  margin: 5rem 0 0 2rem;
}
main .main-right h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
main .main-right p {
  margin-bottom: 1rem;
}
main .main-right .copyright {
  font-size: 13px;
}

form label {
  display: inline-block;
  margin-top: 1rem;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
