.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);

  

    .new-item {
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        background-color: #fff;
        border-radius: 1rem;

        @media screen and (max-width: 600px){
            width: 90vw;
            flex-direction: column-reverse;
            padding: 1.5rem;
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 60%;

            @media screen and (max-width: 600px){
                width: 100%;
            }

            &__text {
                width: 100%;
                
            }
            input, 
            textarea {
                width: inherit;
                font-family: inherit;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding: 1rem;
                border: 1px solid grey;
                border-radius: 1rem;

                @media screen and (max-width: 600px){
                   font-size: 1.2rem;
                }
            }
            &__dates {
                
                display: flex;
                justify-content: space-between;
                font-size: 1.3rem;
    
                .date-input {
                    flex-direction: column;
                    
                    label {
                        margin-bottom: .5rem;
                        display: inline-block;
                    }
                }
                .start-date,
                .end-date {
                    display: none;
                }
            }
            &__colors {
                display: none;
                flex-direction: column;

                p {
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                }
                .colors {
                    display: flex;

                    .option { 
                        cursor: pointer;    
                        width: 3rem;
                        height: 3rem;
                        margin: 0 1rem;
                        transition: all .3s ease;
        
                        &:hover {
                            transform: scale(1.2);
                        }
        
                        input[type="radio"] {
                            width: 100%;
                            height: 100%;
                            visibility: hidden;
                        }
                        
                    }
                    .option.active {
                        border: 3px solid grey;
                    }
                    #yellow {
                        background-color: rgb(240, 240, 49);
                    }
                    #blue {
                        background-color: rgb(70, 70, 209);
                    }
                    #green {
                        background-color: rgb(32, 128, 32);
                    }
                    #violet {
                        background-color: rgb(156, 58, 156);
                    }
                }
            }
    
            &__actions {
                display: flex;
                justify-content: space-around;
                margin-top: 2rem;

                @media screen and (max-width: 600px){
                    font-size: 1.1rem;
                    padding: .5rem 1rem;
                    margin: 1rem .5rem;
                }
            }
        }
        
        .modal-actions {
            display: flex;
            flex-direction: column;
            width: 30%;

            @media screen and (max-width: 600px){
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.5rem;
            }

            .btn {
                margin-bottom: 1rem;

                @media screen and (max-width: 600px){
                    font-size: 1.1rem;
                    padding: .5rem 1rem;
                    margin: 1rem .5rem;
                }
            }
        }
    }
}

.item-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);


    .item-display {
        width: 50%;
        padding: 1.5rem;
        background-color: #fff;
        border-radius: 1rem;
        font-size: 1.5rem;

        @media screen and (max-width: 600px){
            width: 95vw;
            
        }

        .close {
            cursor: pointer;
            text-align: right;
        }
        .title,
        .item-description,
        .detail {
            margin-bottom: 1rem;
        }

        .title input{
            border: none;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: .5rem;
            width: 100%;
        }

        .item-description {

            p {
                cursor: pointer;
                padding: .5rem 0;
    
                &:hover {
                    background-color: rgba(0,0,0,.2);
                    border-radius: 1rem;
                    padding: .5rem;
                }

            }
            textarea {
                width: 100%;
                margin-bottom: .5rem;
                padding: .5rem;
                border-radius: 1rem;
                border: 1px solid gray;
                outline: none;
                font-family: inherit;
            }
            button {
                background-color: #5aac44;
                border: 1px solid #5aac44;
                padding: 1rem 1.5rem;
                border-radius: 1rem;
                color: white;
                font-weight: 700;
                cursor: pointer;
            }
        }
        
        .detail {
            display: flex;

            @media screen and (max-width: 600px){
                flex-direction: column;
            }

            .start,
            .end,
            .tag {
                margin-right: 1.5rem;

                @media screen and (max-width: 600px){
                    margin-bottom: 1.5rem;
                }
            }
            .start p,
            .end p,
            .tag p {
                margin-bottom: .5rem;
            }
            p {
                font-size: 1.3rem;
            }
            .tag {
                position: relative;
                .color{
                    width: 3rem;
                    height: 3rem;
                    cursor: pointer;

                }
                .colors {
                    display: flex;
                    position: absolute;
                    padding: .5rem;
                    top: 18px;
                    background: white;

                    .option { 
                        cursor: pointer;    
                        width: 3rem;
                        height: 3rem;
                        margin: 0 1rem;
                        transition: all .3s ease;
        
                        &:hover {
                            transform: scale(1.2);
                        }
        
                        input[type="radio"] {
                            width: 100%;
                            height: 100%;
                            visibility: hidden;
                        }
                        
                    }
                    .option.active {
                        border: 3px solid grey;
                    }
                }

                #yellow {
                    background-color: rgb(240, 240, 49);
                }
                #blue {
                    background-color: rgb(70, 70, 209);
                }
                #green {
                    background-color: rgb(32, 128, 32);
                }
                #violet {
                    background-color: rgb(156, 58, 156);
                }
            }
            .start input,
            .end input {
                padding: .5rem;
                font-family: inherit;
                outline: none;
                border-radius: 1rem;
                border: 1px solid gray;
                cursor: pointer;
            }
        }
    }
}