//Fonts family
$f-family: 'Roboto', sans-serif;


//Font size
$f-size-base: 1.6rem; //16px

//FOnt weight
$f-weight-300: 300;
$f-weight-500: 500;
$f-weight-700: 700;


//color
$color-white: #fff;
$color-brown: #2B2022;
$color-light-brown: #BD783A;