a {
    text-decoration: none;
    display: inline-block;
}
img {
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}
.br-green {

}
.br-green-middle {

}
.br-green-start {

}