.repo {
  position: fixed;
  top: 0;
  right: 10px;
  padding: 20px;
  z-index: 50;
  color: #fff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  & a > span > i {
    font-size: 30px;
    color: #fff;
    margin-left: 5px;
  }
}
