* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
.header-nav {
    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .logo {
    width: 200px;
    cursor: pointer;
}
.header-nav nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search {
    width: 100%;
    background-color: lightgrey;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
   
}
.inner-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20rem;

}
.search-bar {
    width: 60%;
    text-align: right;
}
.search-bar input {
    outline: none;
    border-radius: 5px;
    border: none;
    width: 60%;
    margin-right: 1rem;
    padding: .5rem 1rem;
}
#search-btn {
    background-color: #5964e0;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.login, .favorites {
    width: 10%;
    text-align: center;
    cursor: pointer;
}
.far {
    color: #5964e0;
    font-size: 25px;
}
.login p, .favorites p {
    color: #353434;
    font-size: 12px;
    margin-top: .2rem;
}
#fav-qty{
    color: #5964e0;
    vertical-align: super;
    font-size: 12px;
}

.slide {
    width: 90%;
    margin: 0 auto 1rem;
    display: flex;
}
.vertical-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: -70px;
}
.vertical-menu button,
.vertical-menu h2 {
    display: inline-block;
    width: 100%;
    background-color: grey;
    height: 65px;
    padding: 1rem 9rem 1rem 0 ;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    border: none;
}
.fa-arrow-circle-right {
    margin-left: 1rem;
}
.vertical-menu button:hover{
    background-color: lightgrey;
}
.vertical-menu button:hover > .fa-arrow-circle-right {
    color: teal;
}
.slide-container {
    width: 70%;
    height: 320px;
}
.slide-container img {
    object-fit: cover;
    height: inherit;
    width: 100%;
}

.title-container {
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
}
#show-cat {
    color: #5964e0;
}
.container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cover-div {
    width: 17%;
    margin-right: .5rem;
    height: 350px;
    text-align: center;
    transition: all .5s ease;
}
.cover-div:hover {
    transform: scale(1.2);
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
}
.cover-div img {
    height: 80%;
   
    
}
.cover-div h4 {
    color: teal;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: .5rem;
}
.cover-div p {
    color: teal;
    font-size: 14px;
}

/*Book*/
#book-detail {
    display: none;
}
.go-back {
    width: 80%;
    margin: 1rem auto; 
}
.go-back a {

}
.book-detail-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.left {
    width: 40%;
}
.left .book-img  {
    text-align:center;
}
.left .book-fav {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left .book-fav .book-fav_link {
    margin: .5rem;
    border: 2px solid #5964e0;
    color: #5964e0;
    display: inline-block;
    padding: 1rem 1.5rem;
    width: 60%;
    text-align: center;
}
.left .book-fav .book-fav_link:hover {
    background-color: #5964e0;
    color: white;
}
.right {
    width: 60%;
}
.right .details {
    margin: 1rem 0;
}
summary p:first-child {
    margin-bottom: .5rem;
}

/*Favorites container*/
#fav-container {
    display: none;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: ivory;
    padding: 1rem;
}
.close {
    text-align: right;
}
.close .fa-times-circle{
    cursor: pointer;
}
.fav-book-container .fav-item{
    width: 90%;
    padding: .5rem;
    height: 120px;
    margin-bottom: .7rem;
}
.fav-item a {
    display: flex;
    height: inherit;
    justify-content: left;
}
.fav-item a img {
    height: inherit;
    margin-right: 1rem;
}
.fav-item h3, .fav-item p {
    color: teal;
}
.display {
    display: block !important;
}
.noDisplay {
    display: none;
}