* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: teal;
}

.repo {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 5;
    padding: 20px;
    color: #000;
    font-size: 15px;
    background-color: rgba(0,0,0,.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
.repo a > span > i {
    font-size: 30px;
    color: #000;
    margin-left: 5px;
}

header {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;

}
header .code-icon{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    color: teal;
}
header .code-icon .fa-globe-americas {
    font-size: 25px;
    margin-left: 1rem;
}
main {
    width: 80%;
    margin: 2rem auto;
}
.select-city {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 1rem auto;
}
.select-city p {
    margin-right: 1rem;
}
.select-city select {
    width: 30%;
    margin-left: .5rem;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 1rem auto;
    text-align: center;
}
.search-input {
    width: 55%;
    padding: .5rem 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.main-container {
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1.5rem auto;
    padding: 1.5rem;

}
.current-weather-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.current-icon {
    display: flex;
    align-items: center;
}
.current-icon p {
    font-size: 55px;
}
.current-icon  span {
    vertical-align: super;
    font-size: 15px;
}

.daily-info .tabs {
    text-align: right;
    margin: 1rem 0;
}

#windChart {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 12px;
}
#windChart .item {
    width: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
hr {
    margin: 1.5rem 0;
    border: 1px dotted lightgray; 
}
.daily-info .tabs button {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    margin-left: .5rem;
    outline: none;
    background-color: rgb(233, 230, 230);
    cursor: pointer;
}
.daily-info .tabs button:hover {
    
    background-color: rgb(202, 199, 199);
  
}
.daily-info  .days {
    display: flex;
}
.day-item {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-right: .2rem;
}
.day-item p span {
    color: rgb(204, 197, 197);
}


#modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.modal-container {
    background-color: white;
    width: 40%;
    margin: 2rem auto;
}
.modal-container .fa-times-circle {
    position: absolute;
    top: 10px;
    right: calc(50% - 23%);
    cursor: pointer;
    font-size: 26px;
    color: white;
}
.modal-container .flag {
    height: 300px;
}
.modal-container .flag img{
    height: inherit;
    width: 100%;
    object-fit: cover;
}
.modal-container .country-name {
    margin: 1rem;
}
.modal-container .country-name h2{
    margin-bottom: .5rem;
}
.modal-container .country-detail {
    margin: 1rem;
    padding-bottom: 1rem;
}
.modal-container .country-detail p {
    margin-bottom: .2rem;
}
.modal-container .country-detail p span {
    vertical-align: super;
    font-size: 11px;
}

#code {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    padding: 1rem;
    overflow: scroll;
}
#code .fa-times-circle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.search-code {
    text-align: center;
    margin: 1rem 0 2rem;
}
.search-code input {
    padding: .5rem 1rem;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
}
.search-code-results .code-result-item {
    width: 80%;
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: .5rem auto;
    background-color: white;
    border-radius: 5px;
}
.code-result-item .img {
    width: 40%;
    padding-left: .5rem;
}
.code-result-item .description span {
    color: teal;
    font-weight: 700;
}
.code-result-item .description .fa-clipboard {
    margin-left: 1rem;
    cursor: pointer;
}
.active {
    background-color:  rgb(202, 199, 199) !important;
}
.noDisplay {
    display: none !important;
}


@media screen and (max-width: 600px){
    header {
        flex-direction: column;
    }
    header .code-icon{
        width: 100%;
        margin-top: 1rem;
        justify-content: space-evenly;
        
    }

    .select-city {
        flex-direction: column;
        width: 90%;
    }
    .select-city select {
        width: 100%;
        margin: .5rem 0;
        padding: .5rem;
    }
    .search {
        flex-direction: column;
        width: 90%;
        align-items: flex-start;
        text-align: left; 
    }
    .search input {
        margin-top: .5rem;
        width: 100%;
    }
    .main-container {
        width: 100%;
        margin-top: 3rem;
    }
    .main-container .title h2 {
        font-size: 22px;
        margin-bottom: .2rem;
    }
    .main-container .title p {
        margin-bottom: .2rem;
    }
    .current-weather-detail {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    .daily-info  {
        text-align: left;
    }
    .daily-info .tabs button {
        margin: .5rem;
    }

    .daily-info-graph canvas {
        width: 100% !important; 
    }
    .daily-info-graph #windChart {
        height: 189px !important;
        font-size: 10px;
    }
    #windChart .item {
        width: 10%;
        margin-left: .2rem;
    }
    #windChart .item img {
        width: 70%;
    }

    #modal .modal-container {
        width: 80%;
        margin: 5rem auto;
    }
    #modal .modal-container .fa-times-circle {
        top: 36px;
        right: calc(50% - 45%);
    }
    #code {
        width: 100vw;
    }
}